.title {
  color: #0078b0;
}

.fildset {
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #bac2c5;
  margin-bottom: 10px;
  background-color: white;
}

.fildset_legend {
  width: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #0078b0;
  border: 1px solid #bac2c5;
}

.modal {
  background-color: #000000a3;
  padding: 0;
  max-height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  border-radius: 15px;
}

.modal-content {
  margin-left: -30%;
  margin-top: -4%;
  display: -ms-flexbox;
  width: 160%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 0px;
}

.labelModal {
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 14px;
  color: #26a69a;
}

:host ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #26a69a;
}

.modal-title {
  color: #0078b0;
  margin-left: 40%;
  margin-top: 0%;
}

.padding {
  padding: 1%;
  margin-bottom: -20px
}

.btn-right {
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-left {
  color: #fff;
  background-color: #c82333;
  border: 1px solid #bd2130;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-left:hover {
  color: #bd2130;
  background-color: #fff;
  border: 1px solid #bd2130;
  font-weight: bold;
  border-radius: 20px;
}
