<div class="container">

  <div class="center">
    <h3 class="title">Incluir Provisão</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset" style="margin-bottom: -25px;">

      <form class="col s12" [formGroup]="registrarProvisaoForm">

        <div class="row" style="margin-bottom: 10px;">
          <div class="input-field col s6">
            <input id="processoSIJUS" type="text" formControlName="processo" minlength="1" maxlength="9" required
              (blur)="recuperaProcesso()" matTooltip="Forneça um processo válido." [matTooltipPosition]="'below'">
            <label class="active" for="processoSIJUS">Processo SIJUS</label>
          </div>

          <div class="input-field col s6">
            <h6 class="labelEdit" for="tipoLancamento">Tipo de Processo</h6>
            <input formControlName="tipoLancamento" id="tipoLancamento" type="text" disabled />
          </div>
        </div>

        <div class="row" style="margin-bottom: -20px;">
          <div class="input-field col s6">
            <input id="dataLancamento" type="date" id="from" name="from" [(max)]="dataAtual" [(min)]="mesAtual"
              (blur)="validacaoMesCorrente(registrarProvisaoForm.value.dataLancamento)" class="da"
              formControlName="dataLancamento" [matTooltipPosition]="'below'"
              matTooltip="A data deve ser menor ou igual ao dia atual." class="validate">
            <label for="dataSolicitacao">Data da Provisão</label>
            <span class="helper-text" data-error="Data da provisão não pode ser maior que hoje."></span>
          </div>

          <div class="input-field col s6">
            <input id="valor" type="text" currencyMask formControlName="valor"
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17" minlength="2"
              matTooltip="Forneça um valor maior que zero." [matTooltipPosition]="'below'"
              (blur)="validarValorRegistro()">
            <label class="active" for="valor">Valor</label>
          </div>
        </div>

        <fieldset class="fildset" style="margin-bottom: 5%;" *ngIf="mostrarContabil">
          <legend class="fildset_legend" style="width: 20%;">Conta Razão</legend>

          <div class="row">
            <div class="input-field col s6"  style="margin-bottom: -15px;">
              <ng-select formControlName="contaRazaoCreditoDebito" required  placeholder="Conta Razão - Crédito e Débito"
                [(items)]="contasCreditoDebito" bindLabel="contasCreditoDebito" [(ngModel)]="provisao.contaRazaoCreditoDebito">
              </ng-select>
            </div>
          </div>

        </fieldset>

        <div style="margin-bottom: 2%;">
          <h6 class="labelEdit" for="historico">Histórico</h6>
          <input formControlName="historico" id="historico" type="text" disabled />
        </div>

        <div>
          <fieldset class="fildset">
            <legend class="fildset_legend">Informação Contábil</legend>

            <div class="row select">
              <div class="col s3" style="width: 25%; margin-top: 1%;">
                <mat-form-field style="margin-left:8%;">
                  <mat-select placeholder="Centro de Custo" [(value)]="centro">
                    <mat-option *ngFor="let centro of centrosDeCustos" [value]="centro">
                      {{centro.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col s3" style="width: 24%; margin-top: 1%;">
                <mat-form-field style="margin-left:-15%; width: 95%;">
                  <mat-select placeholder="PEP" [(value)]="elemento">
                    <mat-option *ngFor="let pep of elementosPEP" [value]="pep">
                      {{pep.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col s3" style="width: 24%; margin-left: -4%; margin-top: 1%;">
                <mat-form-field style="margin-left:-3%; width: 95%;">
                  <mat-select placeholder="Ordem" [(value)]="ordem">
                    <mat-option *ngFor="let ordem of ordens" [value]="ordem">
                      {{ordem.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <button class="btn btn-right" type="button" (click)="limparInfoContabil()"
                  name="action" style="margin-top: 15%; border-color: #b3d7e7; margin-left: -15%;">Limpar
                </button>
              </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Centro Column -->
              <ng-container matColumnDef="centroDescricao">
                <th mat-header-cell *matHeaderCellDef style="width: 26%"> Centro de Custo </th>
                <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.centroDescricao}} </td>
              </ng-container>

              <!-- PeP Column -->
              <ng-container matColumnDef="pepDescricao">
                <th mat-header-cell *matHeaderCellDef style="width: 26%"> PEP </th>
                <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.pepDescricao}} </td>
              </ng-container>

              <!-- Ordem Column -->
              <ng-container matColumnDef="ordemDescricao">
                <th mat-header-cell *matHeaderCellDef style="width: 26%"> Ordem </th>
                <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.ordemDescricao}} </td>
              </ng-container>

              <!-- Excluir Column -->
              <ng-container matColumnDef="excluir">
                <th class="editarColum" mat-header-cell *matHeaderCellDef style="width: 0.1%"> </th>
                <td mat-cell *matCellDef="let element" style="width: 0.1%">
                  <button class="btn-left" type="button" (click)="onClickRemove(element)">
                    <i class="material-icons">clear</i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="infoContabilColumnDisplays"></tr>
              <tr mat-row *matRowDef="let row; columns: infoContabilColumnDisplays;"></tr>

            </table>

            <br>

            <div style="float: right">
              <button class="btn btn-right" type="button" [disabled]="!validaInformacaoContabil()"
                (click)="incluirInformacaoContabil()" name="action">Incluir
                <i class="material-icons right">add</i>
              </button>
            </div>

          </fieldset>

        </div>

        <div style="float: right;">
          <button class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
            <i class="material-icons right">keyboard_return</i>
          </button>

          <button class="btn btn-right" type="submit" [disabled]="registrarProvisaoForm.invalid || !possuiInfoContabil()"
            (click)="enviarProvisao()" name="action">Salvar
            <i class="material-icons right">check</i>
          </button>
        </div>

      </form>

    </fieldset>

  </div>

</div>
