<div class="container">

  <div class="center">
    <h3 class="title">{{textoHeaderAdiantamento}}</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset" style="margin-bottom: -25px;">

      <form class="col s12" [formGroup]="adiantamentoForm">

        <div class="row">
          <div class="input-field col s4">
            <h6 class="labelEdit" *ngIf="!isConsultar" for="matriculaSap"> Matricula SAP </h6>
            <h6 class="labelDisabled" *ngIf="isConsultar" for="matriculaSap"> Matricula SAP </h6>
            <input formControlName="matriculaSap" id="matriculaSap" (blur)="recuperaMatricula()" type="text" minlength="8" maxlength="8" class="validate" (keypress)="numberOnly($event)">
            <span class="helper-text" data-error="A matrícula deve ter 8 dígitos."></span>
          </div>

          <div class="input-field col s4">
            <h6 class="labelEdit" *ngIf="!isConsultar" for="area"> Área </h6>
            <h6 class="labelDisabled" *ngIf="isConsultar" for="area"> Área </h6>
            <input formControlName="areaLotacao" id="area" type="text" disabled>
          </div>

          <div class="input-field col s4">
            <ng-select formControlName="indicadorDespesaEnum"  placeholder="Indicador de Despesa" [(items)]="indicadorDespesa"
               bindValue="tipo" bindLabel="descricao" (change)="habilitaProcesso()" style="margin-top: -6px;">
            </ng-select>
          </div>
        </div>

        <div class="row" style="margin-top: -20px;">
          <div class="input-field col s2">
            <h6 class="labelEdit" *ngIf="!isConsultar" for="usuarioSAP"> Nome SAP </h6>
            <h6 class="labelDisabled" *ngIf="isConsultar" for="usuarioSAP"> Nome SAP </h6>
            <input formControlName="nomeSAP" id="usuarioSAP" type="text" maxlength="50" disabled>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="dataSolicitacao" type="date" id="from" name="from" [(max)]="dataAtual" (blur)="getDataEmissao(adiantamentoForm.value.dataSolicitacao)"
              class="da" formControlName="dataSolicitacao" [matTooltipPosition]="'below'" matTooltip="A data deve ser menor ou igual ao dia atual."
              class="validate">
            <label for="dataSolicitacao">Data da Solicitação</label>
            <span class="helper-text" data-error="Data da solicitação não pode ser maior que hoje."></span>
          </div>

          <div class="input-field col s4">
            <input id="dataVencimento" type="date" id="to" name="to" [(min)]="dataAtual" (blur)="getDataVencimento(adiantamentoForm.value.dataVencimento)" formControlName="dataVencimento"
             [matTooltipPosition]="'below'" matTooltip="A data deve ser superior a data de emissão." class="validate">
            <label for="dataVencimento">Data do Vencimento</label>
            <span class="helper-text" data-error="Data do vencimento não pode ser menor que hoje."></span>
          </div>

          <div class="input-field col s4">
            <input id="valorSolicitado" type="text" currencyMask formControlName="valorAdiantamento"
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17" minlength="2"
              matTooltip="Forneça um valor maior que zero." [matTooltipPosition]="'below'">
            <label class="active" for="valorSolicitado">Valor</label>
          </div>
        </div>

        <div class="row" style="margin-top: -20px;">
          <div class="input-field col s6">
            <h6 class="labelEdit" *ngIf="!isConsultar" for="motivoSolicitacao"> Motivo </h6>
            <h6 class="labelDisabled" *ngIf="isConsultar" for="motivoSolicitacao"> Motivo </h6>
            <textarea class="textAreaEdit" formControlName="motivoDespesa" id="motivoSolicitacao" type="text" maxlength="50" [ngStyle]="{'text-transform': 'uppercase'}"></textarea>
          </div>

          <div class="input-field col s6" >
            <h6 class="labelEdit" *ngIf="!isConsultar" for="numeroProcesso"> N° do Processo </h6>
            <h6 class="labelDisabled" *ngIf="isConsultar" for="numeroProcesso"> N° do Processo </h6>
            <textarea class="textAreaEdit" formControlName="numProcesso" id="numeroProcesso" type="text" maxlength="50" (blur)="recuperaProcesso()"></textarea>
          </div>
        </div>

        <div style="float: right; margin-top: -20px;">
          <button class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
            <i class="material-icons right">keyboard_return</i>
          </button>

          <button class="btn btn-right" type="submit" [disabled]="!adiantamentoForm.valid" (click)="enviarAdiantamento()"
            name="action">Salvar
            <i class="material-icons right">check</i>
          </button>
        </div>

      </form>

      <!--    <div style="color:black"> {{adiantamentoForm.value | json}}</div> -->
    </fieldset>
    
  </div>

</div>
