<app-header></app-header>

<button class="btn-small" type="submit" name="action" (click)="drawer.toggle()">
  <i class="material-icons">menu</i>
</button>

<mat-drawer-container class="menu_container" [hasBackdrop]="true">
  <mat-drawer #drawer class="menu_body" mode="side">

    <div class="center">
      <img class="menu_img" src="./assets/img/chesf.png">
    </div>

    <hr>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Tabelas</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-centro-custo']">Centro
              de Custo</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-elemento-pep']">Elemento
              PEP</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-fornecedor-sap']">Fornecedor
              SAP</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-tipo-despesa']">Tipo
              de Despesa</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-ordem']">Ordem Interna</a>
          </label>
        </li>
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['tabela-orgao-gestor']">Órgão
              Gestor</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['conta-razao-provisao']">Conta
              Razão Provisão</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['conta-razao-estorno-provisao']">Conta
              Razão Estorno Provisão</a>
          </label>
        </li>

        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['conta-razao-liberacao-litigante']">Conta
              Razão Liberação Litigante</a>
          </label>
        </li>
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Solicitação de Pagamento</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['solicitacao-pagamento']">Solicitar
              Pagamento</a>
          </label>
        </li>
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['acompanhar-solicitacao']">Acompanhar 
              Solicitação</a>
          </label>
        </li>

      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Guia de Pagamento</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['incluir-informacoes']">Incluir Informações</a>
          </label>
        </li>
      </ul>

    </mat-expansion-panel>
      
      <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Registrar Provisões</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
          <li>
            <label class="text">
              <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['registrar-provisao']">
                  Incluir Provisão</a>
            </label>
          </li>
          
          <li>
            <label class="text">
              <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['estornar-provisao']">
                  Estornar Provisão</a>
            </label>
          </li>
      </ul>


    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Arquivo CSV</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
          <li>
            <label class="text">
              <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['gerar-arquivo-csv']">
                Gerar Arquivo CSV</a>
            </label>
          </li>
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Consultas</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['consultar-dep']">
              Depósito Judicial</a>
          </label>
        </li>
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['consulta-solicitacao-pagamento']">
              Solicitação Pagamento</a>
          </label>
        </li>
        <!--          
          <li>
            <label class="text">
              <a class="waves-effect waves-light" (click)="drawer.toggle()" [routerLink]="['consultar-adiantamento']">
                Solicitação Adiantamento</a>
              </label>
            </li>
          -->
      </ul>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>

        <div>
          <label class="title">Sair</label>
        </div>

      </mat-expansion-panel-header>

      <ul class="item_list">
        <li>
          <label class="text">
            <a class="waves-effect waves-light" (click)="drawer.toggle()" href="#">Logoff</a>
          </label>
        </li>
      </ul>

    </mat-expansion-panel>

    <hr>

  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>