.btn-small {
  background-color: #0078b0;
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  top: 0px;
  z-index: 0;
  border-radius: 15px;
}

.icon {
  color: #0078b0
}

.menu_container {
  background-color: white;
  width: 100%;
  height: 85%;
}

.menu_body {
  background-color: white;
  padding: 1%;
  max-width: 27%;
}


.row {
  margin-bottom: 0px;
}

.title {
  color: #26a69a;
  margin-right: 15px;
  margin-top: 3px;
  font-size: 18px;
}

.menu_icons {
  margin-right: 10px;
}

.mat-expansion-panel {
  background-color: white;
  box-shadow: none;
}

.menu_img {
  width: 80%;
  margin-top: -8%;
}

hr {
  margin-top: 1%;
  background: #0078b0;
}

.text {
  margin-top: 2%;
  color: #0078b0;
  font-size: 16px;
}

/* .mat-expansion-panel-header:not([aria-disabled=true]) {
  background: rgba(11, 156, 73, 0.26);
} */
