<div  [ngSwitch]="VIEW" >
  
  <app-solicitar-pagamento 
   #detalheComponent
   *ngSwitchCase="LISTA_VIEW[1]"
    [disabledFrom]="true"
    [titulo]="'Detalhe do Pagamento'"
    [formData]="solicitacaoSelecionada"
    [voltarFunction]="voltarCallback"
  ></app-solicitar-pagamento>

  

<div id="consultar" class="container" *ngSwitchDefault>
  
  <div class="center">
    <h3 class="title">Consultar Solicitação de Pagamento</h3>
  </div>

  <div class="jumbotron">

    <form [formGroup]="consultarForm">

      <div class="row" style="margin-bottom: -20px">
        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select #orgaoGestor formControlName="orgaoGestor"  placeholder="Orgão" [(items)]="orgaogestores"  bindLabel="descricao"
            (change)="applyFilter('orgaoGestor')">
          </ng-select>
        </div>

        <div class="input-field col s4">
          <label for="processo">Processo</label>
          <input id="processo" type="text"  formControlName="processo" 
            (keyup)="applyFilter('processo')">
        </div>

        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="statusPagamentoEnum"  placeholder="Situação" [(items)]="situacao"  bindLabel="tipoSituacao"
            (change)="applyFilter('statusPagamentoEnum')">
          </ng-select>
        </div>

        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="tipoDeDespesa" placeholder="Tipo de Despesa"  [(items)]="listaDespesasVO"  bindLabel="descricaoCompleta"
            (change)="applyFilter('tipoDeDespesa')">
          </ng-select>
        </div>
      </div>

      <fieldset class="fildset">

        <br>

        <div class="table">
          <div class="row margem">            
            <div class="col title1">Nº Doc Sap</div>
            <div class="col title1">Orgão</div>
            <div class="col title1">Processo</div>
            <div class="col title1">Valor</div>
            <div class="col title1">Despesa</div>
            <div class="col title1">Situação</div>
          </div>

          <div class="containerTable">
            <mat-accordion *ngFor="let item of displayedRows$ | async">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 75px;">
                  <mat-panel-description>                    
                    <div class="col title2">{{item.documentoSap}}</div>
                    <div class="col title2">{{item.orgaoGestor.descricao}}</div>
                    <div class="col title2" style="max-width: 21% !important;">{{item.processo}}</div>
                    <div class="col title2">{{item.valor | currency: 'R$'}}</div>
                    <div class="col title2">{{item.tipoDeDespesa.codigo}}</div>
                    <div class="col title2" style="max-width: 25% !important;">{{item.statusPagamentoEnum}}</div>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <fieldset class="fildset">

                  <!--  <div *ngIf="expression">  *ngIf="solicitacao == '9'" -->
                  <div class="row">
                    <div class="col s4" *ngIf="item.codigoBarra != null">
                      <label class="labelStyle" for="codigoBarras1">Código de Barra</label>
                      <input id="codigoBarras1" type="text" disabled value="{{item.codigoBarra}}" required style="font-size: 13px">
                    </div>

                    <div class="col s4">
                      <label class="labelStyle" for="situacao1">Situação</label>
                      <input id="situacao1" type="text" disabled value="{{item.statusPagamentoEnum}}" required>
                    </div>

                    <div class="col s4" >
                      <label class="labelStyle" for="dataSolicitacao">Data da Solicitação</label>
                      <input id="dataSolicitacao" type="text" disabled value="{{item.dataInsercao | date: 'dd/MM/yyyy'}}" required>
                    </div>
                  </div>

                  <div style="float: right">                    

                    <ng-container>
                      <div style="float: right">
                        <button class="btn btn-right" type="submit" name="action" (click)="detalhar(item)">Detalhar
                          <!-- <i class="material-icons right">search</i> -->
                        </button>
                      </div>
                    </ng-container>

                  </div>

                </fieldset>

              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <mat-paginator #paginator [length]="totalRows$ | async" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="0"
            [pageSize]="5" showFirstLastButtons></mat-paginator>

        </div>

        <div style="float: right">
          <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
            <i class="material-icons right">keyboard_return</i>
          </button>
        </div>

      </fieldset>

    </form>

  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="pendenciasSolicitacao" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pendências da Solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin-bottom: -15px;">

        <div class="jumbotron">

          <fieldset class="fildset">

            <div class="listPendências">
                <table>
                  <tr>
                    <th scope="col"><b>Mensagem</b></th>
                    <th scope="col"><b>Data e Hora</b></th>
                  </tr>
                  <tr *ngFor="let mensagem of listaMensagensErroGeraPagamento">
                    <td class="tdTable">{{mensagem.mensagens}}</td>
                    <td class="tdTable">{{mensagem.dataInsercao | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                  </tr>
                </table>
            </div>

            <div style="float: right;">
              <button class="btn btn-left" type="submit" data-dismiss="modal" aria-label="Close" name="action">Sair
                <i class="material-icons right">keyboard_return</i>
              </button>
            </div>

          </fieldset>

        </div>

      </div>

    </div>
  </div>
  </div>



</div>
