.title {
  color: #0078b0;
}

.fildset {
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #bac2c5;
  margin-bottom: 10px;
  background-color: white;
}

.margem {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 5%;
  text-align: center;
}

.table {
  border-radius: 10px;
  background-color: #0078b0;
  padding: 1%;
}

.containerTable {
  max-height: 400px;
  overflow: auto;
}

.jumbotron {
  padding: 1rem 2rem;
}

.tdTable {
  color: #0078b0;
  font-size: 15px;
  border-radius: 15px;
  padding: 1%;
  border: 1px solid #f3f4f5;
}

b {
  color: #0078b0;
}

.labelStyle {
  color: #0078b0;
}

.title1 {
  margin-left: -45px;
  font-size: 15px;
  color: #aad2e5;
}

.title2 {
  color: #0078b0;
  word-wrap: break-word;
  max-width: 20%;
  align-self: center;
}

.mat-expansion-panel {
  background: #e9ecef;
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.fildset_legend {
  width: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #0078b0;
  border: 1px solid #bac2c5;
}

.selectType {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #9e9e9e;
  width: 100%;
  height: 100%;
  color: #9e9e9e;
  box-shadow: none;
}

.btn-right {
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
}

.btn-warning {
  color: black;
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-warning:hover {
  color: #ffc107;
  background-color: transparent;
  border: 1px solid #ffc107;
  font-weight: bold;
  border-radius: 20px;
}


.btn-left {
  color: #fff;
  background-color: #c82333;
  border: 1px solid #bd2130;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-left:hover {
  color: #bd2130;
  background-color: #fff;
  border: 1px solid #bd2130;
  font-weight: bold;
  border-radius: 20px;
}

.modal {
  background-color: #f3f4f5;
  padding: 0;
  max-height: 90%;
  width: 80%;
  margin: auto;
  overflow-y: auto;
  border-radius: 15px;
}

.modal-content {
  margin-left: -55%;
  margin-top: -1%;
  display: -ms-flexbox;
  width: 210%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 0px;
}

.modal-title {
  color: #0078b0;
  margin-left: 35%;
  margin-top: 0%;
}

.listPendências {
  padding: 1%;
}

.list-group {
  color: #0078b0
}
