.logo {
  width: 30%;
}

.form_login {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.uppercase {
  text-transform: uppercase;
}

.background {
  background-image: url("../../../assets/img/loginBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.btn-left {
  color: #fff;
  background-color: #26a69a;
  border: 1px solid #26a69a;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-right {
  color: #fff;
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
}

.btn-left:hover {
  color: #26a69a;
  background-color: #fff;
  border: 1px solid #26a69a;
  font-weight: bold;
  border-radius: 20px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
}
