<div class="background">

  <div class="container">

    <div class="center">
      <img src="./assets/img/chesf.png" alt="Avatar" class="logo">
    </div>

    <form [formGroup]="loginForm">

      <div class="center jumbotron form_login">

        <div class="row">
          <div class="input-field col s12">
            <input formControlName="username" id="login" type="text" class="validate" required maxlength="15"
              minlength="5" oninput="this.value = this.value.toUpperCase()">
            <label for="login">Login</label>
            <span class="helper-text" data-error="Digite seu nome de acesso." ></span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input formControlName="password" id="senha" type="password" class="validate" required maxlength="20"
              minlength="6">
            <label for="senha">Senha</label>
            <span class="helper-text" data-error="Digite sua senha de acesso." ></span>
          </div>
        </div>

        <div class="center">
          <button class="btn btn-right" type="submit" name="action" [disabled]="loginForm.invalid" (click)="fazerLogin()">Entrar
            <i class="material-icons right">chevron_right</i>
          </button>
        </div>

      </div>

    </form>

  </div>

</div>