<div class="container">

  <div class="center">
    <h3 class="title">Informações para Guia Pagamento</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset" style="margin-bottom: -25px;">

      <form [formGroup]="incluirInformacoesForm">

        <div class="row" style="margin-bottom: 10px;">
          <div class="input-field col s4">
            <input id="processo" type="text" (blur)="recuperarProcesso()" formControlName="processo" minlength="5"
              maxlength="10" required matTooltip="Forneça um processo válido." [matTooltipPosition]="'below'">
            <label class="active" for="processo"> Processo SIJUS (iniciando com ano)</label>
          </div>

          <div class="input-field col s4">
            <h6 class="labelEdit" for="matriculaSolicitante">Matrícula do Solicitante</h6>
            <input id="matriculaSolicitante" formControlName="matriculaSolicitante" type="text" disabled />
          </div>
        </div>

        <div class="input-field col s4">
          <h6 class="labelEdit" for="nomeSolicitante">Nome do Solicitante</h6>
          <input id="nomeSolicitante" formControlName="nomeSolicitante" type="text" disabled />
        </div>

        <div class="row" style="margin-bottom: -20px;">
          <div class="input-field col s6">
            <h6 class="labelEdit" for="dataSolicitacao">Data/Hora Solicitação</h6>
            <input id="dataSolicitacao" formControlName="dataHoraSolicitacao" type="text" disabled />
          </div>

          <div class="input-field col s4">
            <input id="prazo" type="date" id="to" name="to" [(min)]="dataAtual" [(max)]="dataFutura"
              (blur)="getDataPrazo(incluirInformacoesForm.value.prazo)" formControlName="prazo" required
              [matTooltipPosition]="'below'" matTooltip="A data da solicitação deve ser igual ou maior que o dia atual."
              class="validate">
            <label for="prazo">Prazo</label>
            <span class="helper-text" data-error="A data da solicitação não pode ser menor que hoje."></span>
          </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
          <div class="input-field col s4">
            <h6 class="labelEdit" for="processoJustica">Processo na Justiça</h6>
            <input id="processoJustica" formControlName="processoNaJustica" type="text" disabled />
          </div>

          <div class="input-field col s4">
            <h6 class="labelEdit" for="descricaoProcesso">Descrição do Processo</h6>
            <input id="descricaoProcesso" formControlName="descricaoProcesso" form type="text" disabled />
          </div>

          <div class="input-field col s4">
            <input id="varaCoTribunal" formControlName="varaCoTribunal" type="text" minlength="1" maxlength="9"
              required>
            <label class="active" for="varaCoTribunal">Vara/Comarca/Tribunal</label>
          </div>
        </div>

        <div class="row" style="margin-bottom: -10px;">
          <div class="input-field col s6" style="margin-top: 10px;">
            <ng-select required placeholder="Autor" [(items)]="autoresMoc" formControlName="autor" (change)="changeAutor($event)" bindLabel="nome">
            </ng-select>
          </div>

          <div class="input-field col s4">
            <h6 class="labelEdit" for="cpfCnpjAutor">CPF/CNPJ</h6>
            <input id="cpfCnpjAutor" formControlName="cpfCnpjAutor" type="text" disabled />
          </div>
        </div>

        <div class="row" style="margin-bottom: -10px;">
            <div class="input-field col s6" style="margin-top: 10px;">
              <ng-select required placeholder="Réu" [(items)]="reusMoc" formControlName="reu" (change)="changeReu($event)" bindLabel="nome">
              </ng-select>
            </div>
  
            <div class="input-field col s4">
              <h6 class="labelEdit" for="cpfCnpjReu">Réu/CPF/CNPJ</h6>
              <input id="cpfCnpjReu" formControlName="cpfCnpjReu" type="text" disabled />
            </div>
          </div>

        <div class="row">
          <div class="input-field col s3">
            <ng-select required placeholder="Gerência" [(items)]="orgaosGesto"  bindLabel="descricao">
            </ng-select>
          </div>

          <div class="input-field col s3">
            <ng-select required placeholder="Centro de Custo" [(items)]="centrosDeCustos" bindLabel="descricao">
            </ng-select>
          </div>

          <div class="input-field col s3">
            <ng-select required placeholder="Elemento PEP" [(items)]="elementosPEP" bindLabel="descricao">
            </ng-select>
          </div>

          <div class="input-field col s3">
            <ng-select required placeholder="Ordem" [(items)]="ordens" bindLabel="descricao">
            </ng-select>
          </div>
        </div>

        <fieldset class="fildset" style="margin-bottom: 5%;">
          <legend class="fildset_legend" style="width: 15%;">Custas</legend>

          <div class="row" style="margin-bottom: -10px;">
            <div class="input-field col s4">
              <ng-select required placeholder="Descrição" [(items)]="descricaoDasCustas" bindLabel="descricao">
              </ng-select>
            </div>

            <div class="input-field col s4">
              <ng-select required placeholder="Tipo de Despesa" [(items)]="tiposDespesas" bindLabel="descricao">
              </ng-select>
            </div>
          </div>

          <div class="input-field col s4">
            <input id="valor" type="text" formControlName="valorDasCustas" currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17" minlength="2"
              matTooltip="Forneça um valor maior que zero." [matTooltipPosition]="'below'"
              (blur)="validarValorCustas()">
            <label class="active" for="valor">Valor</label>
          </div>

        </fieldset>

        <fieldset class="fildset" style="margin-bottom: 5%;">
          <legend class="fildset_legend" style="width: 30%;">Depósito Judicial</legend>

          <div class="row" style="margin-bottom: -10px;">
            <div class="input-field col s6">
              <ng-select required placeholder="Descrição" [(items)]="descricaoDepositoJudicial" bindLabel="descricao">
              </ng-select>
            </div>

            <div class="input-field col s6">
              <ng-select required placeholder="Tipo de Despesa" [(items)]="tiposDespesas" bindLabel="descricao">
              </ng-select>
            </div>
          </div>

          <div class="input-field col s6">
            <input id="valor" type="text" formControlName="valorDepositoJudicial" currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17" minlength="2"
              matTooltip="Forneça um valor maior que zero." [matTooltipPosition]="'below'"
              (blur)="validarValorDeposito()">
            <label class="active" for="valor">Valor</label>
          </div>

        </fieldset>


        <div style="float: right;">
          <button class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
            <i class="material-icons right">keyboard_return</i>
          </button>

          <button class="btn btn-right" type="submit" [disabled]="!incluirInformacoesForm.valid" name="action">Salvar
            <i class="material-icons right">check</i>
          </button>
        </div>

      </form>

    </fieldset>

  </div>

</div>
