.title {
    color: #0078b0;
  }
  
  .active {
    color: #26a69a;
  }
  
  .labelEdit {
    margin-top: -12px;
    margin-bottom: -2px;
    font-size: 13px;
    color: #26a69a;
  }
  
  .textAreaEdit {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #9e9e9e;
  }
  
  .textAreaEdit:focus {
    border-bottom: 1.5px solid #26a69a;
  }
  
  .selectType {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #9e9e9e;
    width: 100%;
    height: 85%;
    color: #9e9e9e;
    box-shadow: none;
  }
  
  .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    height: 3rem;
  }
  
  .selectOption {
    color: #9e9e9e;
    background: transparent;
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .fildset {
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid #bac2c5;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .fildset_legend {
    width: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: #0078b0;
    border: 1px solid #bac2c5;
  }
  
  .btn-right {
    background-color: #0078b0;
    border: 1px solid #0078b0;
    border-radius: 20px;
  }
  
  .btn-right:hover {
    color: #0078b0;
    background-color: #fff;
    border: 1px solid #0078b0;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .select {
    background-color: #0078b0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 99.9%;
    margin-bottom: 1px;
    margin-left: 0px;
  }
  
  .btn-left {
    color: #fff;
    background-color: #c82333;
    border: 1px solid #bd2130;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .btn-left:hover {
    color: #bd2130;
    background-color: #fff;
    border: 1px solid #bd2130;
    font-weight: bold;
    border-radius: 20px;
  }