.title {
  color: #0078b0;
}

.fildset {
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #bac2c5;
  margin-bottom: 10px;
  background-color: white;
}

.fildset_legend {
  width: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #0078b0;
  border: 1px solid #bac2c5;
}

.btn-right {
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
}

.btn-detail {
  background-color: #00a950;
  border: 1px solid #00a950;
  border-radius: 20px;
}

.btn-detail:hover {
  color: #00a950;
  background-color: #fff;
  border: 1px solid #00a950;
  font-weight: bold;
  border-radius: 20px;
}

.btn-left {
  color: #fff;
  background-color: #c82333;
  border: 1px solid #bd2130;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-left:hover {
  color: #bd2130;
  background-color: #fff;
  border: 1px solid #bd2130;
  font-weight: bold;
  border-radius: 20px;
}

.row {
  margin-bottom: -5px;
}

.title2 {
  color: #26a69a;
}
