<div class="container">

  <div class="center">
    <h3 class="title">Consultar Depósito Judicial</h3>
  </div>

  <div class="jumbotron">
    <form class="col s12" [formGroup]="depositoForm">
      <fieldset class="fildset">

        <div class="input-field col s4">
          <label class="title2" for="processo">Processo</label>
          <input id="processo" type="text" class="validate" formControlName="processo" maxlength="9" minlength="9"
            required  matTooltip="Forneça um processo para consultar." [matTooltipPosition]="'below'">
          <span class="helper-text" data-error="Forneça um processo para consultar."></span>
        </div>

        <div style="float: right; margin-top: -20px;">
          <button class="btn btn-right" type="submit" (click)="consultarDepJud()" name="action">Consultar
            <i class="material-icons right">search</i>
          </button>
        </div>

      </fieldset>

      <br>

      <fieldset class="fildset" *ngIf="showDepJudicial">

        <legend class="fildset_legend">Depósito Judicial</legend>

        <div class="row">
          <div class="input-field col s8">
            <label class="active title2" for="totalDepositado">Total Depositado</label>
            <input id="totalDepositado" formControlName="totalDepositado" type="text" class="validate" disabled currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" style="width: 70%;">
            <div style="float: right; margin-top: -20px;">
              <button class="btn btn-detail" type="submit" (click)="consultarTotalDep()" name="action"
                style="margin-top: 30px;">Info
                <i class="material-icons right">chevron_right</i>
              </button>
            </div>
          </div>

          <div class="input-field col s8">
            <label class="active title2" for="totalProvisionado">Total Provisionado</label>
            <input id="totalProvisionado" formControlName="totalProvisionado" type="text" class="validate" disabled currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" style="width: 70%;">
            <div style="float: right; margin-top: -20px;">
              <button class="btn btn-detail" type="submit" (click)="consultarLancamentoContabil()" name="action"
                style="margin-top: 30px;">Info
                <i class="material-icons right">chevron_right</i>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <label class="active title2" for="totalPagoLitigante">Total Pago ao Litigante</label>
            <input id="totalPagoLitigante" formControlName="totalPagoLitigante" type="text" class="validate" disabled currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </div>

          <div class="input-field col s8">
            <label class="active title2" for="totalPagoChesf">Total Pago à Chesf</label>
            <input id="totalPagoChesf" formControlName="totalPagoChesf" type="text" class="validate" disabled currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <label class="active title2" for="saldoDepositado">Saldo Depositado</label>
            <input id="saldoDepositado" formControlName="saldoDepositado" type="text" class="validate" disabled currencyMask
              [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </div>
        </div>

      </fieldset>

    </form>
    <div style="float: right">
      <button class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
        <i class="material-icons right">keyboard_return</i>
      </button>
    </div>

  </div>

</div>