<div class="container">

  <div class="center">
    <h3 class="title">Detalhar Lançamento Contábil</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset">

      <legend class="fildset_legend">Lançamentos Contábeis</legend>

      <div class="tabela">
        <table mat-table [dataSource]="lancamentoContabilDataSource">

          <!--Radio Column-->
          <ng-container matColumnDef="radio">
            <th mat-header-cell *matHeaderCellDef style="width: 0.1%;"></th>
            <td mat-cell *matCellDef="let element" style="width: 0.1%;">
              <label class="container">
                <input type="radio" (click)="onSelectionChange(element)" name="radio">
                <span class="checkmark"></span>
              </label>
            </td>
          </ng-container>

          <!-- Data Column -->
          <ng-container matColumnDef="dataLancamento">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dataLancamento}} </td>
          </ng-container>

          <!-- Tipo Column -->
          <ng-container matColumnDef="tipoLancamento">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoLancamentoContabilDescricao}} </td>
          </ng-container>

          <!-- Valor Column -->
          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'R$ '}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

      <br>

      <div style="float: right">
        <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
          <i class="material-icons right">keyboard_return</i>
        </button>

        <button class="btn btn-right" type="submit" name="action" data-toggle="modal" [disabled]="!selecionado"
          data-target="#detalheLancamentoContabil">Consultar
          <i class="material-icons right">search</i>
        </button>

      </div>

    </fieldset>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="detalheLancamentoContabil" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lançamento Contábil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin-bottom: -15px;">

        <div class="jumbotron">

          <form class="col s12" [formGroup]="detalheForm">
            <fieldset class="fildset" style="margin-bottom: -25px; margin-top: -25px;">

              <div class="row" style="padding: 12px; margin-bottom: -5px;">
                <div class="input-field col s6">
                  <label class="labelModal" for="tipoLancamento">Tipo de Lançamento</label>
                  <input id="tipoLancamento" formControlName="tipoLancamentoContabilDescricao" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="numeroProcesso">Processo</label>
                  <input id="numeroProcesso" formControlName="numeroProcesso" type="text" disabled>
                </div>
              </div>

              <div class="row" style="padding: 12px; margin-bottom: -5px;">
                <div class="input-field col s6">
                  <label class="labelModal" for="dataLancamento">Data do Lançamento</label>
                  <input id="dataLancamento" formControlName="dataLancamento" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="valor">Valor do Lançamento</label>
                  <input id="valor" type="text" formControlName="valor" disabled
                    currencyMask [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
              </div>

              <fieldset class="fildset">

                <legend class="fildset_legend" style="width: 20%">Contas Razão</legend>

                <div class="row">
                  <div class="input-field col s6">
                    <label class="labelModal" for="contaCredito">Conta Razão Crédito</label>
                    <input id="contaCredito" formControlName="contaCredito" type="text" disabled>
                  </div>
                  <div class="input-field col s6">
                    <label class="labelModal" for="contaDebito">Conta Razão Débito</label>
                    <input id="contaDebito" formControlName="contaDebito" type="text" disabled>
                  </div>
                </div>

              </fieldset>

              <br>

              <div class="row" style="padding: 12px; margin-bottom: -5px;  margin-top: -5px;">
                <div class="input-field col s6">
                  <label class="labelModal" for="historico">Histórico</label>
                  <input id="historico" formControlName="historico" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="dataGeracaoCSV">Data da Geração do CSV</label>
                  <input id="dataGeracaoCSV" formControlName="dataGeracaoCSV" type="text" disabled>
                </div>
              </div>

              <fieldset class="fildset">

                <legend class="fildset_legend" style="width: 20%">Info Contábil</legend>

                <div class="row">
                  <div class="input-field col s6">
                    <label class="labelModal" for="centroDeCusto">Centro</label>
                    <input id="centroDeCusto" formControlName="centroDeCusto" type="text" disabled>
                  </div>
                  <div class="input-field col s6">
                    <label class="labelModal" for="elementoPep">Elemento Pep</label>
                    <input id="elementoPep" formControlName="elementoPep" type="text" disabled>
                  </div>

                  <div class="input-field col s6">
                    <label class="labelModal" for="ordem">Ordem</label>
                    <input id="ordem" formControlName="ordem" type="text" disabled>
                  </div>
                </div>

              </fieldset>

              <div style="float: right;">
                <button class="btn btn-left" type="submit" data-dismiss="modal" aria-label="Close" name="action">Sair
                  <i class="material-icons right">keyboard_return</i>
                </button>
              </div>

            </fieldset>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>
