.title {
    color: #0078b0;
  }
  
  .fildset {
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid #bac2c5;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .fildset_legend {
    width: 35%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: #0078b0;
    border: 1px solid #bac2c5;
  }
  
  .tabela {
    background: #0078b0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  [type="radio"]:checked+span:after,
  [type="radio"].with-gap:checked+span:after {
    background-color: #0078b0;
    border: 2px solid #9e9e9e;
  }
  
  .mat-table {
    box-shadow: none;
    width: 100%;
  }
  
  th.mat-header-cell {
    text-align: center;
  }
  
  td.mat-cell {
    text-align: center;
  }
  
  .modal {
    background-color: #000000a3;
    padding: 0;
    max-height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    border-radius: 15px;
  }
  
  .modal-content {
    margin-left: -55%;
    margin-top: -1%;
    display: -ms-flexbox;
    width: 210%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0px;
  }
  
  .modal-title {
    color: #0078b0;
    margin-left: 40%;
    margin-top: 0%;
  }
  
  .labelModal {
    margin-top: -25px;
    font-size: 14px;
    color: #26a69a;
  }
  
  .labelModal2 {
    font-size: 14px;
    color: #26a69a;
  }
  
  .btn-right {
    background-color: #0078b0;
    border: 1px solid #0078b0;
    border-radius: 20px;
  }
  
  .btn-right:hover {
    color: #0078b0;
    background-color: #fff;
    border: 1px solid #0078b0;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .btn-left {
    color: #fff;
    background-color: #c82333;
    border: 1px solid #bd2130;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .btn-left:hover {
    color: #bd2130;
    background-color: #fff;
    border: 1px solid #bd2130;
    font-weight: bold;
    border-radius: 20px;
  }
  