.navbar-brand{
    width: 10%;
    margin: 2%;
}

.logo{
    float: right;
    width: 65%;
}

.navbar-light .navbar-nav .nav-link {
    color: #077bc0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00A950;
 }

nav ul a {
    color: #00A950;
}

nav ul a:hover {
    color: #077bc0;
}