
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
      <a class="navbar-brand" href="#/menu"> <img class="logo" src="./assets/img/logo-chesf.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">A Empresa <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Investidores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sistema Chesf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Negócios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sustentabilidade</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Inovação
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div> -->

      <ul>
        <li><a class="btn-flat"><i class="material-icons left icon">date_range</i>{{ getData() }}</a></li>
        <li><a class="btn-flat"><i class="material-icons left icon">account_circle</i>{{user?.username}}</a></li>
        <li><a class="btn-flat" href="#"><i class="material-icons left icon" (click)="sair()">arrow_back</i>Logoff</a></li>
      </ul>

    </nav>


