<div class="tabela containerTable">
  <table mat-table [dataSource]="dataTable"> 

    <!-- Codigo Column -->
    <ng-container *ngFor="let column of _tableConfig" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef> {{ column.description }} </th>
      <td mat-cell *matCellDef="let element"> 
          <label class="container" *ngIf="column.key === 'radio'">
              <input type="radio" (change)="capturaSelecionado(element)" name="radio">
              <span class="checkmark"></span>
            </label> 
          <p *ngIf="column.key !== 'radio'">{{element[column.key]}}</p>        
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNameList"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNameList;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<br>

<div style="float: right" *ngIf="configButtons">
  <button *ngIf="configButtons.sair" class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
    <i class="material-icons right">keyboard_return</i>
  </button>

  <button *ngIf="configButtons.remover" class="btn btn-right" type="submit" [disabled]="selecionado == null" (click)="remover()" name="action">Excluir
    <i class="material-icons right">clear</i>
  </button>

  <button *ngIf="configButtons.editar" class="btn btn-right" type="submit" [disabled]="selecionado == null" (click)="change()" name="action" data-toggle="modal" data-target="#modalComponent">Alterar
    <i class="material-icons right">create</i>
  </button>

  <button *ngIf="configButtons.incluir" class="btn btn-right" type="submit" (click)="include()" name="action" data-toggle="modal" data-target="#modalComponent" style="margin-right: 0px;">Incluir
    <i class="material-icons right">add</i>
  </button>
</div>