.tabela {
    background: #0078b0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .containerTable{
    max-height: 400px;
    overflow: auto;
  }

  [type="radio"]:checked+span:after,
  [type="radio"].with-gap:checked+span:after {
    background-color: #0078b0;
    border: 2px solid #9e9e9e;
  }

  .mat-table {
    box-shadow: none;
    width: 100%;
  }

  th.mat-header-cell {
    text-align: center;
  }

  td.mat-cell {
    text-align: center;
  }

  .btn-right {
    background-color: #0078b0;
    border: 1px solid #0078b0;
    border-radius: 20px;
    margin-right: 10px;
  }

  .btn-right:hover {
    color: #0078b0;
    background-color: #fff;
    border: 1px solid #0078b0;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
  }

  .btn-left {
    color: #fff;
    background-color: #c82333;
    border: 1px solid #bd2130;
    border-radius: 20px;
    margin-right: 10px;
  }

  .btn-left:hover {
    color: #bd2130;
    background-color: #fff;
    border: 1px solid #bd2130;
    font-weight: bold;
    border-radius: 20px;
  }
