<footer class="page-footer">
  <div class="row">

    <div class="col-sm-6">
      <div class="container">
        <h5 class="title">CHESF</h5>
        <p class="footer-text"> R. Delmiro Gouveia, 333 - San Martin - Recife - Pernambuco</p>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="container">
        <h5 class="title">Links</h5>
        <ul>
          <li><a class="footer-text" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container">
       <p class="title" style="margin-top: 8%;"> 2019 © Chesf.</p>
        <a class="footer-text" href="#!">Mais Links</a>
      </div>
    </div>

  </div>
</footer>
