.page-footer {
  background-color: #e9ecef;
  margin-top: -2%
}

.card {
  background-color: white;
}

.row {
  width: 90%;
  margin-bottom: 5px;
}

.title {
  color: #0078b0
}

.footer-text {
  color: #00A950;
}
