<div class="container">

  <div class="center">
    <h3 class="title">Gerar Arquivo CSV</h3>
  </div>

  <div class="jumbotron">
    <form class="col s12" [formGroup]="gerarArquivoForm">

      <div class="row" style="margin-bottom: -10px; margin-top: -20px;">
        <div class="input-field col s6">
          <h6 class="labelEdit" for="dataSolicitacao">Data de Lançamento</h6>
          <input id="dataLancamento" type="month" id="from" name="from" [(max)]="dataFutura"
          class="dataLancamento"
            [matTooltipPosition]="'below'" formControlName="dataLancamento" matTooltip="Forneça uma data para buscar.">
          <span class="helper-text" data-error="Forneça uma data válida."></span>
        </div>

        <div class="input-field col s6" style="margin-left: -45%; margin-top: 4%;">
          <button class="btn btn-right" type="submit" name="action"
            (click)="validacaoMesCorrente(gerarArquivoForm.value.dataLancamento)">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>

      <fieldset class="fildset" style="margin-bottom: -20px;" *ngIf="showTabela">

        <legend class="fildset_legend">Lançamentos Contábeis</legend>

        <div class="tabela">
          <table mat-table [dataSource]="gerarArquivoDataSource">
  
            <!-- Data Column -->
              <ng-container matColumnDef="dataLancamento">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.dataLancamento}} </td>
              </ng-container>
  
              <!-- Processo Column -->
              <ng-container matColumnDef="numeroProcesso">
                <th mat-header-cell *matHeaderCellDef> Processo </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroProcesso}} </td>
              </ng-container>
           
              <!-- TipoLancamento Column -->
              <ng-container matColumnDef="tipoLancamento">
                <th mat-header-cell *matHeaderCellDef> Tipo de Lançamento </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoLancamentoContabilDescricao}} </td>
              </ng-container>
  
              <!-- Valor Column -->
              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor | currency: 'R$ '}} </td>
              </ng-container>
  
              <!-- DataCSV Column -->
              <ng-container matColumnDef="dataGeracaoCSV">
                <th mat-header-cell *matHeaderCellDef> Data - CSV </th>
                <td mat-cell *matCellDef="let element"> {{element.dataGeracaoCSV}} </td>
              </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <br>

        <div style="float: right">
          <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
            <i class="material-icons right">keyboard_return</i>
          </button>

          <button class="btn btn-right" type="submit" name="action"  (click)="gerarCSV()" >Gerar
            <i class="material-icons right">archive</i>
          </button>

        </div>

      </fieldset>

    </form>

  </div>

</div>
