<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:p="http://primefaces.org/ui">

<sec:isAuthenticated>

 <h:head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title> 
			<ui:insert name="titulo">Caixaki</ui:insert>
		</title>
		<h:outputScript name="primefaces.js" library="primefaces" id="jsPrime"/>
		<h:outputScript name="jquery.js" library="primefaces/jquery" id="jsJquery"/>
		<h:outputScript name="jquery-plugins.js" library="primefaces/jquery" id="jsJqueryPlugin"/>
		<h:outputScript name="jquery.cookie.js" library="javascript" id="jsJaqueryCookie"/>
		<h:outputStylesheet name="jquery-ui.css" library="primefaces/jquery/ui" id="jsJqueryUi"/>
		<h:outputStylesheet name="primefaces.css" library="primefaces" id="jdPrimeCss"/>
		<h:outputScript name="jquery.maskMoney.min.js" library="javascript" id="jsMaskMoneySistema"/>
		<h:outputScript name="jquery.maskedinput.js" library="javascript" id="jsMaskInputSistema"/>
		<h:outputScript name="scripty.js" library="javascript" id="jsScriptSistema"/>
		<h:outputScript name="jsf.js" library="javax.faces"/>
		<h:outputScript name="googlechart.js" library="javascript"/> 
		<h:outputScript name="deployJava.js"  library="javascript" />
 </h:head>	
 
<h:form id="formTemplate" prependId="false">
		<h:outputStylesheet name="estilo.css" library="css" id="cssStileSistema"/> 	
 	<h:body>
 			<script type="text/javascript" charset="UTF-8">
 				$.noConflict();
 				localeData_pt_br();
 				initTamplete();
 				ocultarMenu();
 				
 				/*Bloqueia F5 do teclado*/
 				$(document).keydown(function(e){
 					if (e.which == 116){
 						return 116;
 					}
 				});
 			</script> 
 			<ui:include src="/templates/barraProgresso.xhtml" />
 			<div id="msgError">
 				 <p:growl id="msg" showDetail="false" sticky="true" 
 				 redisplay="true" autoUpdate="true" life="6000"/>
 				 <p:tooltip id="toolTipFocus" globalSelector="a, :input, :button"
 				 showEvent="focus" hideEvent="blur"/>
 			</div>
 			
 			<div id="container">
 				<div id="topo">
 				  <span style="position: absolute;left: 20px;top: 14px" id="spanLogo">
 				  	<h:graphicImage library="img" name="logo.png" id="logoImg" 
 				  	   styleClass="bordaImagem"/>
 				  </span>
 				  <span id="dadoslogin"> Usuário: #{entidadeBeanView.usuarioLogadoSecurity}
 				  	<br id="quebraUser"/>
 				  	 Último login:
 				  	 <h:outputLabel value="#{entidadeBeanView.ultimoAcesso}"
 				  	  id="saidaUltimoAcesso">
						<f:convertDateTime locale="pt_BR" pattern="dd/MM/yyyy HH:mm:ss"
						dateStyle="long" timeStyle="full" timeZone="GMT-03:00"/> 				  	 	
 				  	 </h:outputLabel>
 				  	 <br id="quebraUltimoAcesso"/>
 				  	 <a href="#" onclick="javascript:logout('#{request.contextPath}')">Sair</a>
 				  </span>
 				  
 				  <span id="menuSistema" style="position: absolute; right: 25px; top: 48px; width: 20px;" >
 				  	<a href="#" onclick="abrirMenupop();">
 				  		<h:graphicImage library="img"
 				  		 name="setabaixo.png" styleClass="bordaimagem" id="imaSetaBaixo"/>
 				  	</a>
 				  </span>
 				</div>
 				
 				
 				<div id="menu">
 					<span id="iniciarmenu">
 						<h:graphicImage library="img" name="iconemenu.png" 
 						styleClass="bordaimagem" id="iconemenu">
 						  Menu
 						</h:graphicImage>
 					</span>
 				</div>
 				
 				<div id="corpo" class="corpo">
 				   <ui:insert name="corpo" />
 				</div>
 				
 				<div id="menupop">
 					 
 					 <sec:ifAnyGranted roles="MENSAGENS_ENVIAR_ACESSAR, ADMIN">
 					 	<p:commandLink actionListener="#{mensagemBeanView.novo}"
 					 	onsuccess="enviarMsgDialog.show();"
 					 	value="Enviar mensagem" immediate="true" style="display:block;" 
 					 	id="enviarMensagem" ajax="true" process="@this">
 					 	   <p:ajax immediate="true" listener="#{mensagemBeanView.novo}"/>
 					 	</p:commandLink>
 					 </sec:ifAnyGranted>
 					 
 					 <a href='#' onclick="alterarSenhaDialog.show();" 
 					 	style="display: block;" id="alterarSenha">
 					 	<span style="display: block;" id="spanAlterarSenha">Alterar Senha</span>
 					 </a>
 				</div>
 				
 				<div id="barramenu">
 						<p:tieredMenu id="menuEsquerdo"
 						 style="width:185px; border: none; background:none; color:#000;">
 							
 							<sec:ifAnyGranted roles="CADASTRO_ACESSAR, ADMIN">
 								
 								<p:submenu label="Cadastros" id="subMenuCadastro">
 									<sec:ifAnyGranted roles="CIDADE_ACESSAR, ADMIN">
	 									<p:menuitem value="Cidade" id="menuCidade"
	 									  action="/cadastro/cad_cidade.jsf?faces-redirect=true">
	 									
	 									</p:menuitem>
 									</sec:ifAnyGranted>
 								</p:submenu>
 								
 							</sec:ifAnyGranted>
 							
 							
 						    <p:menuitem value="Início" id="menuinicio"
 						    onclick="redirecionarPagina('#{request.contextPath}', '/restrito/principal');"
 						    ajax="true" />
 							
 							<p:menuitem onclick="javascript:logout('#{request.contextPath}');"
 							value="Sair" id="menusair" ajax="true"/>
 						</p:tieredMenu>
 				</div>
 				
 				
 			</div>
 			
 			
 			<p:dialog widgetVar="enviarMsgDialog" id="alterarMsgDialog" width="800"
				modal="true" resizable="false" height="360"
				header="Enviar menssagem" appendToBody="false" dynamic="true">
			</p:dialog>
 			
 		<p:dialog widgetVar="alterarSenhaDialog" id="alterarSenhaDialog" width="240"
 		 modal="true" resizable="false" height="170" header="Alterar Senha" dynamic="true" appendToBody="false">
 			corpo	
 		</p:dialog>	
 			
 	</h:body>  
</h:form>

 <script type="text/javascript" charset="UTF-8">
	 carregarIdElementosPagina();
 </script>

</sec:isAuthenticated>
</html>