.title {
  color: #0078b0;
}

.selectType {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #9e9e9e;
  width: 100%;
  height: 85%;
  color: #9e9e9e;
  box-shadow: none;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #0078b0;
  border: 2px solid #9e9e9e;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  height: 3rem;
}

.selectOption {
  color: #9e9e9e;
  background: transparent;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fornecedorSap {
  width: 80%;
  margin-top: -2.1%;
  margin-right: 4%;
}

.fildset {
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #bac2c5;
  margin-bottom: 10px;
  background-color: white;
}

.fildset_legend {
  width: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #0078b0;
  border: 1px solid #bac2c5;
}

.btn-left {
  color: #fff;
  background-color: #c82333;
  border: 1px solid #bd2130;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-right {
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
}

.btn-left:hover {
  color: #bd2130;
  background-color: #fff;
  border: 1px solid #bd2130;
  font-weight: bold;
  border-radius: 20px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
}

.mat-table {
  box-shadow: none;
  width: 100%;
  margin-top: -2.2%;
}

.mat-form-field {
  width: 80%;
}

.select {
  background-color: #0078b0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.select2 {
  background-color: #0078b0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0%;
  height: 100px
}

.s3 {
  margin-top: 1%;
  width: 50%;
}
