<div class="container">

  <div class="center">
    <h3 *ngIf="!idRecebido" class="title">{{titulo}}</h3>
    <h3 *ngIf="idRecebido" class="title">Editar Solicitação de Pagamento</h3>
  </div>

  <div class="jumbotron" *ngIf="!disabledFrom">

    <fieldset class="fildset">

      <div class="row">
        <form class="col s12" [formGroup]="solicitacaoForm">
          <div class="row">
            <div class="input-field col s6">
              <input id="valor" type="text" currencyMask (blur)="recuperaProcesso()" formControlName="valor" required="true"
                [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17" minlength="2"
                matTooltip="Forneça um valor maior que zero." [matTooltipPosition]="'below'">
              <label class="active" for="valor">Valor</label>
            </div>

            <div class="input-field col s3">
              <ng-select formControlName="tipoDeDespesa" required="true"  placeholder="Tipo de Despesa" [(items)]="listaDespesasVO"
                 bindLabel="descricaoCompleta" (change)="obrigatoriedadeProcesso($event)" [(ngModel)]="solicitacao.tipoDeDespesa">
              </ng-select>
            </div>

            <div class="input-field col s3" *ngIf="indicadorGarantia()">
              <ng-select formControlName="tipoDepositoJudicialEnum" required="true"  placeholder="Tipo de Deposito Judicial"
                [(items)]="tipoDepositos" bindValue="descricao" (change)="incluiCodigoDeposito()"  bindLabel="descricao">
              </ng-select>
            </div>

            <div class="input-field col s3" *ngIf="tipoDePagamento()">
              <ng-select formControlName="tipoPagamentoEnum" required="true"  placeholder="Tipo de Pagamento"
                [(items)]="tipoPagamento" bindValue="descricao" (change)="incluiCodigoTipoPagamento()"  bindLabel="descricao">
              </ng-select>
            </div>
          </div>

          <div class="row">

            <div class="input-field col s4" style="margin-top: 1%;">
              <ng-select formControlName="fornecedorSap"  placeholder="Fornecedor SAP" (change)="changeFornecedorSap()"
                [(items)]="fornecedoressap"  bindLabel="descricao" style="width: 100%;" [(ngModel)]="solicitacao.fornecedorSap">
              </ng-select>
            </div>

            <div class="input-field col s4">
              <input id="dataEmissao" type="date" id="from" name="from" [(max)]="dataAtual" (blur)="getDataEmissao(solicitacaoForm.value.dataEmissao)"
                class="da" formControlName="dataEmissao" required [matTooltipPosition]="'below'" matTooltip="A data deve ser menor ou igual ao dia atual."
                class="validate">
              <label for="dataEmissao">Data Emissão</label>
              <span class="helper-text" data-error="Data de emissão não pode ser maior que hoje."></span>
            </div>

            <div class="input-field col s4">
              <input id="dataVencimento" type="date" id="to" name="to" [(min)]="dataAtual" [(max)]="dataFutura" (blur)="getDataVencimento(solicitacaoForm.value.dataVencimento)"
                formControlName="dataVencimento" required [matTooltipPosition]="'below'" matTooltip="A data deve ser superior a data de emissão."
                class="validate">
              <label for="dataVencimento">Data Vencimento</label>
              <span class="helper-text" data-error="Data de vencimento não pode ser menor que hoje."></span>
            </div>
          </div>

          <div class="row" style="margin-bottom: -20px;">
            <div class="input-field col s6" style="margin-top: 1%;">
              <ng-select formControlName="orgaoGestor" placeholder="Orgão Gestor" [(items)]="orgaogestores"  bindLabel="descricao"
                [(ngModel)]="solicitacao.orgaoGestor">
              </ng-select>
            </div>

            <div class="input-field col s6">
              <input id="processo" type="text" (blur)="recuperaProcesso()" formControlName="processo" minlength="5"
                maxlength="30" required matTooltip="Forneça um processo válido." [matTooltipPosition]="'below'"
                [required]="habilitarInfoContabeis">
              <label class="active" for="processo"> Processo SIJUS (iniciando com ano)</label>
            </div>
          </div>

        </form>

      </div>

     <!-- <p style="color:black"> {{solicitacaoForm.value | json}}</p> -->

    </fieldset>

    <br>

    <div *ngIf="isIndicadorInfoContabeisObrigatorio()">
      <fieldset class="fildset">
        <legend class="fildset_legend">Informação Contábil</legend>

        <div class="row select">
          <div class="col s3" style="width: 25%">
            <mat-form-field style="margin-left:8%;">
              <mat-select placeholder="Centro de Custo" [(value)]="centro">
                <mat-option *ngFor="let centro of centrosDeCustos" [value]="centro">
                  {{centro.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col s3" style="width: 24%">
            <mat-form-field style="margin-left:-15%; width: 95%;">
              <mat-select placeholder="PEP" [(value)]="elemento">
                <mat-option *ngFor="let pep of elementosPEP" [value]="pep">
                  {{pep.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col s3" style="width: 24%; margin-left: -4%;">
            <mat-form-field style="margin-left:-3%; width: 95%;">
              <mat-select placeholder="Ordem" [(value)]="ordem">
                <mat-option *ngFor="let ordem of ordens" [value]="ordem">
                  {{ordem.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-field col s3 " style="width: 25%">
            <div style="margin-left:-15%;">
              <input name="valor" id="valor" type="text" placeholder="" [(ngModel)]="valorContabil" style="color: #abd3e5; margin-top: -3%; border-bottom: 1px solid #b3d7e7; width: 92%;
              margin-left: 2%;" currencyMask [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" maxlength="17"
                minlength="2" required>
            </div>
          </div>

          <div>
            <button class="btn btn-right" type="button" (click)="limparInfoContabil()"
              name="action" style="margin-top: 15%; border-color: #b3d7e7; margin-left: -15%;">Limpar
            </button>
          </div>

        </div>

        <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

          <!-- Centro Column -->
          <ng-container matColumnDef="centroDescricao">
            <th mat-header-cell *matHeaderCellDef style="width: 26%"> Centro de Custo </th>
            <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.centroDescricao}} </td>
          </ng-container>

          <!-- PeP Column -->
          <ng-container matColumnDef="pepDescricao">
            <th mat-header-cell *matHeaderCellDef style="width: 26%"> PEP </th>
            <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.pepDescricao}} </td>
          </ng-container>

          <!-- Ordem Column -->
          <ng-container matColumnDef="ordemDescricao">
            <th mat-header-cell *matHeaderCellDef style="width: 26%"> Ordem </th>
            <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.ordemDescricao}} </td>
          </ng-container>

          <!-- Valor Column -->
          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef style="width: 26%"> Valor </th>
            <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.valor | currency: 'R$ '}} </td>
          </ng-container>

          <!-- Excluir Column -->
          <ng-container matColumnDef="excluir">
            <th class="editarColum" mat-header-cell *matHeaderCellDef style="width: 0.1%"> </th>
            <td mat-cell *matCellDef="let element" style="width: 0.1%">
              <button class="btn-left" type="button" (click)="onClickRemove(element)">
                <i class="material-icons">clear</i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="infoContabilColumnDisplays"></tr>
          <tr mat-row *matRowDef="let row; columns: infoContabilColumnDisplays;"></tr>

        </table>

        <br>

        <div style="float: right">
          <button [disabled]="!possuiValor()" class="btn btn-right" type="button" (click)="incluirInformacaoContabil()"
            name="action">Incluir
            <i class="material-icons right">add</i>
          </button>
        </div>

      </fieldset>

    </div>

    <br>

    <fieldset class="fildset">
      <form [formGroup]="solicitacaoForm">
        <div class="row" style="margin-bottom:-20px">
          <div class="input-field col s6" style="margin-top: 1%;">
            <ng-select formControlName="formaPagamentoEnum" id="formatoPagamento"  placeholder="Formato Pagamento"
              [(items)]="pagamento" (change)="changePagamento()" bindValue="tipo" bindLabel="descricaoPagamento">
            </ng-select>
          </div>

          <div class="input-field col s6">
            <label style="margin-top: -19px; font-size: 11px;">Domicílio Bancário</label>
            <input id="domicilioBancario" type="text" disabled minlength="3" maxlength="4" [(value)]="elementoBancario.bancoDomicilio">
          </div>
        </div>
        <!--<div class="row">
            <input id="fileInput" type="file" class="ng-hide col s2" (change)="onFileChange($event)" #fileInput> 
            <a href="{{arquivoPagamento.valor}}" download> {{arquivoPagamento.nome}}</a>
            <input id="fileInput" value="cancelar" type="button" class="ng-hide col s2" (click)="clearFile()" > 
        </div> -->
      </form>

    </fieldset>

    <div *ngIf="isCreditoEmConta()">

      <br>

      <fieldset class="fildset">
        <legend class="fildset_legend">Informação Bancária</legend>

        <div class="row select2">
          <div class="input-field col s4" style="width: 25%; background: white;
             border-top-left-radius: 15px; margin-left: 3%; 
            border-bottom-left-radius: 15px;">

            <input id="bancoAg" style="margin-top: 5%;margin-left: 15%;width: 85%;" disabled type="text" [(value)]="elementoBancario.bancoAgencia"
              required>
            <label for="bancoAg" class="active" style="margin-top: 7%; margin-left: 13%; width: 85%; color: #0078b0; font-weight: 580;">Banco/Ag</label>
          </div>

          <div class="input-field col s4" style="width: 25%; background: white;">
            <input id="contaBanco" style="margin-top: 5%;" disabled type="text" [(value)]="elementoBancario.bancoConta"
              required>
            <label for="contaBanco" class="active" style="margin-top: 7%; color: #0078b0; font-weight: 580;">Conta</label>
          </div>

          <div class="input-field col s4" style="width: 25%; background: white; 
            border-top-right-radius: 15px; margin-right: 3%; 
            border-bottom-right-radius: 15px;">

            <input id="nomeBanco" style="margin-top:5%; margin-right: 15%; width: 85%;" disabled type="text" [(value)]="elementoBancario.bancoNome"
              required>
            <label for="nomeBanco" class="active" style="margin-top: 7%; margin-right: 15%; width: 85%; color: #0078b0; font-weight: 580;">Nome</label>
          </div>

        </div>

        <table mat-table [dataSource]="dataSourceBancario" matSort class="mat-elevation-z8">

          <!--Radio Column-->
          <ng-container matColumnDef="radioButton">
            <th mat-header-cell *matHeaderCellDef style="width: 0.1%;"></th>
            <td mat-cell *matCellDef="let element" style="width: 0.1%;">
              <label class="container">
                <input type="radio" (click)="onSelectionChange(element)" name="radio">
                <span class="checkmark"></span>
              </label>
            </td>
          </ng-container>

          <!-- Banco/Ag Column -->
          <ng-container matColumnDef="bancoAg">
            <th mat-header-cell *matHeaderCellDef style="width: 26%;"> Banco/Ag </th>
            <td mat-cell *matCellDef="let element" style="width: 26%;"> {{element.bancoAgencia}} </td>
          </ng-container>

          <!-- Conta Column -->
          <ng-container matColumnDef="conta">
            <th mat-header-cell *matHeaderCellDef style="width: 29%;"> Conta </th>
            <td mat-cell *matCellDef="let element" style="width: 29%;"> {{element.bancoConta}} </td>
          </ng-container>

          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef style="width: 30%"> Nome </th>
            <td mat-cell *matCellDef="let element" style="width: 30%"> {{element.bancoNome}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="bancoDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: bancoDisplayedColumns;"></tr>

        </table>

      </fieldset>

    </div>

    <br>

    <fieldset class="fildset" *ngIf="isBoleto()">
      <form [formGroup]="solicitacaoForm">
        <div class="input-field col s6">
          <input id="codigoDeBarra" type="text" minlength="48" maxlength="48" formControlName="codigoBarra" [required]="isBoleto()"
            (keypress)="numberOnly($event)">
          <label for="codigoDeBarra">Código De Barras</label>
        </div>
      </form>
    </fieldset>

    <div style="float: right">
      <button class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
        <i class="material-icons right">keyboard_return</i>
      </button>

      <button *ngIf="!isEditar()" class="btn btn-right" type="submit" [disabled]="!solicitacaoForm.valid || !habilitaEnvio() || !processoCadastrado" name="action"
        (click)="enviarSolicitacao()">Salvar
        <i class="material-icons right">check</i>
      </button>

      <button *ngIf="isEditar()" class="btn btn-right" type="submit" [disabled]="!solicitacaoForm.valid || !habilitaEnvio() || !processoCadastrado" name="action"
        (click)="reenviarSolicitacao()">Reenviar
        <i class="material-icons right">check</i>
      </button>

    </div>

  </div>
  <!-- detalhe da soicitação de pagamento  -->
  <div class="jumbotron" *ngIf="disabledFrom">

    <fieldset class="fildset">

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="valor">Valor</label>
              <input id="valor" type="text" formControlName="valor" required="true" disabled value="{{formData.valor | currency: 'R$ ' }}">
            </div>

            <div class="input-field col s6" *ngIf="disabledFrom">
              <label class="active" for="tipoDespesa">Tipo de Despesa</label>
              <input id="tipoDespesa" type="text" disabled value="{{formData.tipoDeDespesa.descricaoCompleta}}">
            </div>              
            <div class="input-field col s6" *ngIf="indicadorGarantia()">
              <label class="active" for="tipoDeposito">Tipo de Deposito
                Judicial</label>
              <input id="tipoDeposito" type="text" disabled value="{{getDescricaoDepositoJudicial(formData.codigoDepositoJudicial)}}">
            </div>
            <div class="input-field col s6" *ngIf="tipoDePagamento()">
              <label class="active" for="tipoPagamento">Tipo de Pagamento
                </label>
              <input id="tipoPagamento" type="text" disabled value="{{getDescricaoTipoPagamento(formData.codigTipoPagamento)}}">
            </div>
          </div>

          <div class="row">

            <div class="input-field col s4" style="margin-top: 1%;">
              <div *ngIf="disabledFrom" style="margin-top: -8%;">
                <label class="active" for="fornecedorSAP">Fornecedor SAP</label>
                <input id="fornecedorSAP" type="text" disabled value="{{formData.fornecedorSap.descricao}}">
              </div>
            </div>

            <div class="input-field col s4" *ngIf="disabledFrom">
              <label for="dataEmissao" style="margin-top: -10%; font-size: 13px;">Data Emissão</label>
              <input id="dataEmissao" type="date" disabled value="{{formData.dataEmissao}}">
            </div>

            <div class="input-field col s4" *ngIf="disabledFrom">
              <label for="dataVencimento" style="margin-top: -10%; font-size: 13px;">Data Vencimento</label>
              <input id="dataVencimento" type="date" disabled value="{{formData.dataVencimento}}">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6" *ngIf="disabledFrom">
              <label class="active" for="orgaoGestor">Orgão Gestor</label>
              <input id="orgaoGestor" type="text" disabled value="{{formData.orgaoGestor.descricao}}">
            </div>

            <div class="input-field col s6" *ngIf="disabledFrom">
              <label class="active" for="processo">Processo SIJUS</label>
              <input id="processo" type="text" disabled value="{{formData.processo}}">
            </div>
          </div>

          <div class="row" style="margin-bottom: -20px;">
            <div class="input-field col s3" *ngIf="disabledFrom">
              <label class="active" for="situacao">Situação</label>
              <input id="situacao" type="text" disabled value="{{formData.statusPagamentoEnum}}">
            </div>

            <div class="input-field col s3" *ngIf="disabledFrom">
              <label class="active" for="docSap">Doc SAP do Pagamento</label>
              <input id="docSap" type="text" disabled value="{{formData.documentoSap}}">
            </div>

            <div class="input-field col s3" *ngIf="disabledFrom">
              <label class="active" for="loginSolicitacao">Usuário</label>
              <input id="loginSolicitacao" type="text" disabled value="{{formData.loginSolicitacao}}">
            </div>

            <div class="input-field col s3" *ngIf="disabledFrom">
              <label class="active" for="dataSolicitacao">Data da Solicitação</label>
              <input id="dataSolicitacao" type="text" disabled value="{{formData.dataInsercao | date: 'dd/MM/yyyy'}}">
            </div>
          </div>

        </form>

      </div>

    </fieldset>

    <br>

    <div>
      <fieldset class="fildset">
        <legend class="fildset_legend">Informação Contábil</legend>
      </fieldset>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
      <!-- Centro Column -->
      <ng-container matColumnDef="centroDescricao">
        <th mat-header-cell *matHeaderCellDef style="width: 26%"> Centro de Custo </th>
        <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.centroDescricao}} </td>
      </ng-container>

      <!-- PeP Column -->
      <ng-container matColumnDef="pepDescricao">
        <th mat-header-cell *matHeaderCellDef style="width: 26%"> PEP </th>
        <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.pepDescricao}} </td>
      </ng-container>

      <!-- Ordem Column -->
      <ng-container matColumnDef="ordemDescricao">
        <th mat-header-cell *matHeaderCellDef style="width: 26%"> Ordem </th>
        <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.ordemDescricao}} </td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef style="width: 26%"> Valor </th>
        <td mat-cell *matCellDef="let element" style="width: 26%"> {{element.valor | currency: 'R$ '}} </td>
      </ng-container>

      <!-- Excluir Column -->
      <ng-container matColumnDef="excluir">
        <th class="editarColum" mat-header-cell *matHeaderCellDef style="width: 0.1%"> </th>
        <td mat-cell *matCellDef="let element" style="width: 0.1%">
          <button *ngIf="disabledFrom" class="btn-left" type="button" disabled style="display: none;">
            <i class="material-icons">clear</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="infoContabilColumnDisplays"></tr>
      <tr mat-row *matRowDef="let row; columns: infoContabilColumnDisplays;"></tr>

    </table>

    <br>

    <fieldset class="fildset">
      <form>
        <div class="row" style="margin-bottom:-20px">
          <div class="input-field col s6" *ngIf="true">
            <label class="active" for="formaPagamentoEnum">Forma Pagammento</label>
            <input id="formaPagamentoEnum" type="text" disabled value="{{formData.formaPagamentoEnumDesc}}">
          </div>

          <div class="input-field col s6">
            <label style="margin-top: -19px; font-size: 11px;">Domicílio Bancário</label>
            <input id="domicilioBancario" type="text" disabled minlength="3" maxlength="4" [(value)]="formData.domicilioBancario.bancoDomicilio">
          </div>
        </div>
      </form>

    </fieldset>

    <div *ngIf="isTed()">

      <br>

      <fieldset class="fildset">
        <legend class="fildset_legend">Informação Bancária</legend>

        <div class="row select2">
          <div class="input-field col s4" style="width: 25%; background: white;
                   border-top-left-radius: 15px; margin-left: 3%; 
                  border-bottom-left-radius: 15px;">

            <input id="bancoAg" style="margin-top: 5%;margin-left: 15%;width: 85%;" disabled type="text" [(value)]="elementoBancario.bancoAgencia"
              required>
            <label for="bancoAg" class="active" style="margin-top: 7%; margin-left: 13%; width: 85%; color: #0078b0; font-weight: 580;">Banco/Ag</label>
          </div>

          <div class="input-field col s4" style="width: 25%; background: white;">
            <input id="contaBanco" style="margin-top: 5%;" disabled type="text" [(value)]="elementoBancario.bancoConta"
              required>
            <label for="contaBanco" class="active" style="margin-top: 7%; color: #0078b0; font-weight: 580;">Conta</label>
          </div>

          <div class="input-field col s4" style="width: 25%; background: white; 
                  border-top-right-radius: 15px; margin-right: 3%; 
                  border-bottom-right-radius: 15px;">

            <input id="nomeBanco" style="margin-top:5%; margin-right: 15%; width: 85%;" disabled type="text" [(value)]="elementoBancario.bancoNome"
              required>
            <label for="nomeBanco" class="active" style="margin-top: 7%; margin-right: 15%; width: 85%; color: #0078b0; font-weight: 580;">Nome</label>
          </div>

        </div>

        <table mat-table [dataSource]="dataSourceBancario" matSort class="mat-elevation-z8">

          <!--Radio Column-->
          <ng-container matColumnDef="radioButton">
            <th mat-header-cell *matHeaderCellDef style="width: 0.1%;"></th>
            <td mat-cell *matCellDef="let element" style="width: 0.1%;">
              <label class="container">
                <input type="radio" (click)="onSelectionChange(element)" name="radio">
                <span class="checkmark"></span>
              </label>
            </td>
          </ng-container>

          <!-- Banco/Ag Column -->
          <ng-container matColumnDef="bancoAg">
            <th mat-header-cell *matHeaderCellDef style="width: 26%;"> Banco/Ag </th>
            <td mat-cell *matCellDef="let element" style="width: 26%;"> {{element.bancoAgencia}} </td>
          </ng-container>

          <!-- Conta Column -->
          <ng-container matColumnDef="conta">
            <th mat-header-cell *matHeaderCellDef style="width: 29%;"> Conta </th>
            <td mat-cell *matCellDef="let element" style="width: 29%;"> {{element.bancoConta}} </td>
          </ng-container>

          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef style="width: 30%"> Nome </th>
            <td mat-cell *matCellDef="let element" style="width: 30%"> {{element.bancoNome}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="bancoDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: bancoDisplayedColumns;"></tr>

        </table>

      </fieldset>

    </div>

    <br>

    <fieldset class="fildset" *ngIf="isBoleto()">
      <form [formGroup]="solicitacaoForm">
        <div class="input-field col s6" *ngIf="disabledFrom">
          <label class="active" for="codigoDeBarra">Código De Barras</label>
          <input id="codigoDeBarra" type="text" disabled value="{{formData.codigoBarra}}">
        </div>
      </form>
    </fieldset>

    <div style="float: right">
      <button *ngIf="disabledFrom" class="btn btn-left" type="submit" name="action" (click)="voltar()">Voltar
        <i class="material-icons right">keyboard_return</i>
      </button>
    </div>
  </div>

</div>
