<h1>Formulário</h1>
<form name="livroForm" ng-submit="$ctrl.submeter()">
    <div class="form-group">
        <label for="titulo" class="obrigatorio">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" ng-model="$ctrl.livro.titulo" required>
        <span class="help-block" style="color:red" ng-show="!livroForm.titulo.$pristine && livroForm.titulo.$invalid">Campo obrigatório</span>
    </div>
    <div class="form-group">
        <label for="autor">Autor</label>
        <input id="autor" class="form-control" type="text" ng-model="$ctrl.livro.autor">
    </div>
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <select id="categoria" class="form-control" ng-model="$ctrl.livro.categoria">
            <option value="">---Selecione uma categoria---</option>
            <option value="Comédia">Comédia</option>
            <option value="Drama">Drama</option>
            <option value="Suspense">Suspense</option>
            <option value="Terror">Terror</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit" ng-disabled="!livroForm.$valid">Submeter</button>
    <a ui-sref="home">voltar</a>
</form>
