<div class="container">

  <div class="center">
    <h3 class="title">Acompanhar Solicitação</h3>
  </div>

  <div class="jumbotron">

    <form [formGroup]="consultarForm">

      <div class="row" style="margin-bottom: -20px">
        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="orgao"  placeholder="Orgão" [(items)]="orgaogestores"  bindLabel="descricao"
            (change)="applyFilter()">
          </ng-select>
        </div>

        <div class="input-field col s4">
          <label for="processo">Processo</label>
          <input id="processo" type="text" required formControlName="processo" (keyup)="applyFilter()">
        </div>

        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="situacaoSelect"  placeholder="Situação" [(items)]="situacao"  bindLabel="tipoSituacao"
            (change)="applyFilter()">
          </ng-select>
        </div>

        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="despesaSelect" placeholder="Tipo de Despesa"  [(items)]="listaDespesasVO"  bindLabel="descricaoCompleta"
            (change)="applyFilter()">
          </ng-select>
        </div>
      </div>

      <fieldset class="fildset">

        <br>

        <div class="table">
          <div class="row margem">
            <div class="col title1">N° Doc Sap</div>
            <div class="col title1">Orgão</div>
            <div class="col title1">Processo</div>
            <div class="col title1">Valor</div>
            <div class="col title1">Despesa</div>
            <div class="col title1">Situação</div>
          </div>

          <div class="containerTable">
            <mat-accordion *ngFor="let item of displayedRows$ | async">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 75px;">
                  <mat-panel-description>
                    <div class="col title2">{{item.documentoSap}}</div>
                    <div class="col title2">{{item.orgaoGestor.descricao}}</div>
                    <div class="col title2" style="max-width: 21% !important;">{{item.processo}}</div>
                    <div class="col title2">{{item.valor | currency :'R$ '}}</div>
                    <div class="col title2">{{item.tipoDeDespesa.codigo}}</div>
                    <div class="col title2">{{item.statusPagamentoEnum}}</div>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <fieldset class="fildset">

                  <div class="row">
                    <div class="col s4" *ngIf="item.codigoBarra != null">
                      <label class="labelStyle" for="codigoBarras1">Código de Barra</label>
                      <input id="codigoBarras1" type="text" disabled value="{{item.codigoBarra}}" required style="font-size: 13px">
                    </div>

                    <div class="col s4">
                      <label class="labelStyle" for="situacao1">Situação</label>
                      <input id="situacao1" type="text" disabled value="{{item.statusPagamentoEnum}}" required>
                    </div>
                                      
<!--                     <div class="col s4">
                      <label class="labelStyle" for="tipoDespesa">Tipo de Despesa</label>
                      <input id="tipoDespesa" type="text" disabled value="{{item.tipoDeDespesa.codigo}}" required>
                    </div> -->
                    
                    <div class="col s4" *ngIf="item.statusPagamentoEnum == 'Aguardando Aprovação' || item.statusPagamentoEnum == 'Aprovado';">
                      <label class="labelStyle" for="dataSolicitacao">Data da Solicitação</label>
                      <input id="dataSolicitacao" type="text" disabled value="{{item.dataInsercao | date : 'dd/MM/yyyy'}}" required>
                    </div>
                  </div>

                  <div style="float: right">
                    <ng-container *ngIf="item.statusPagamentoEnum == 'Pendente';">
                      <div style="float: right">
                        <div class="row">
                          <button class="btn btn-warning" type="submit" name="action" data-toggle="modal" data-target="#pendenciasSolicitacao"
                            (click)="selectSolicitacao(item)">Pendências
                            <i class="material-icons right">warning</i>
                          </button>

                          <button class="btn btn-right" type="submit" name="action" (click)="reenviar(item)">Editar
                            <i class="material-icons right">edit</i>
                          </button>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="item.statusPagamentoEnum == 'Aguardando Aprovação' || item.statusPagamentoEnum == 'Aprovado';">
                      <div style="float: right">
                        <button class="btn btn-right" type="submit" name="action" (click)="confirmar(item)">Atualizar
                          <i class="material-icons right">sync</i>
                        </button>
                      </div>
                    </ng-container>

                  </div>

                </fieldset>

              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <mat-paginator #paginator [length]="totalRows$ | async" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="0"
            [pageSize]="5" showFirstLastButtons></mat-paginator>

        </div>

        <div style="float: right">
          <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
            <i class="material-icons right">keyboard_return</i>
          </button>
        </div>

      </fieldset>

    </form>

  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="pendenciasSolicitacao" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pendências da Solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin-bottom: -15px;">

        <div class="jumbotron">

          <fieldset class="fildset">

            <div class="listPendências">
                <table>
                  <tr>
                    <th scope="col"><b>Mensagem</b></th>
                    <th scope="col"><b>Data e Hora</b></th>
                  </tr>
                  <tr *ngFor="let mensagem of listaMensagensErroGeraPagamento">
                    <td class="tdTable">{{mensagem.mensagens}}</td>
                    <td class="tdTable">{{mensagem.dataInsercao | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                  </tr>
                </table>
            </div>

            <div style="float: right;">
              <button class="btn btn-left" type="submit" data-dismiss="modal" aria-label="Close" name="action">Sair
                <i class="material-icons right">keyboard_return</i>
              </button>
            </div>

          </fieldset>

        </div>

      </div>

    </div>
  </div>
</div>
