<div class="container">

  <div class="center">
    <h3 class="title">Ordem Interna</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset">

      <legend class="fildset_legend">Tabela Ordem</legend>

      <tabela-generica #tabelaGene [tableConfig]="tableConfig" [dados]="ordens" (removeEvent)="selecionaOrdemInternaExclusao($event)"
        (changeEvent)="selecionaOrdemInternaEdicao($event)" (includeEvent)="incluirElement($event)"></tabela-generica>

    </fieldset>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalComponent" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin-bottom: -15px;">

        <div class="jumbotron">

          <fieldset class="fildset" style="margin-bottom: -25px;">

            <form [formGroup]="tableForm">

              <div style="padding:1%">
                <div class="input-field">
                  <h6 class="labelModal" for="codigo"> Código </h6>
                  <input formControlName="codigo" class="validate" id="codigo" type="text" minlength="1" maxlength="12"
                    (keypress)="numberOnly($event)">
                </div>

                <div class="input-field">
                  <h6 class="labelModal" for="descricao"> Descrição </h6>
                  <input formControlName="descricao" class="validate" oninput="this.value = this.value.toUpperCase()"
                    id="descricao" type="text" minlength="1" maxlength="50">
                </div>
              </div>

              <div style="float: right;">
                <button class="btn btn-left" type="submit" data-dismiss="modal" aria-label="Close" name="action">Sair
                  <i class="material-icons right">keyboard_return</i>
                </button>

                <div *ngIf="isEditar; then canEditar else cadastrar"></div>

                <ng-template #canEditar>
                  <button class="btn btn-right" type="submit" data-dismiss="modal" aria-label="Close" name="action"
                    (click)="alterar(tableForm.value)" [disabled]="!tableForm.valid">Confirmar
                    <i class="material-icons right">add</i>
                  </button>
                </ng-template>
                <ng-template #cadastrar>

                  <button class="btn btn-right" *ngIf="!isEditar" type="submit" data-dismiss="modal" aria-label="Close"
                    name="action" (click)="salvar(tableForm.value)" [disabled]="!tableForm.valid">Confirmar
                    <i class="material-icons right">add</i>
                  </button>
                </ng-template>

              </div>

              <!-- <div style="color:black">
                {{tableForm.value | json}}
              </div> -->

            </form>

          </fieldset>

        </div>

      </div>

    </div>
  </div>
</div>
