<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:body>

    <ui:composition template="template.xhtml">
        <ui:define name="conteudo">
            <h1>Formulário</h1>
            <h:form>
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <h:inputText styleClass="form-control" id="titulo" value="#{livroController.livro.titulo}"
                                 required="true"
                                 requiredMessage="Campo obrigatório"/>
                    <h:message for="titulo" styleClass="help-block" style="color:red"/>
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <h:inputText styleClass="form-control" id="autor" value="#{livroController.livro.autor}"/>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <h:selectOneMenu styleClass="form-control" id="categoria"
                                     value="#{livroController.livro.categoria}">
                        <f:selectItem itemLabel="Comédia" itemValue="Comédia"/>
                        <f:selectItem itemLabel="Drama" itemValue="Drama"/>
                        <f:selectItem itemLabel="Suspense" itemValue="Suspense"/>
                        <f:selectItem itemLabel="Terror" itemValue="Terror"/>
                    </h:selectOneMenu>
                </div>
                <h:commandButton styleClass="btn btn-primary" action="#{livroController.submeter}" value="Submeter"/>
                <h:commandLink action="index" value="Voltar" immediate="true"/>
            </h:form>
        </ui:define>
    </ui:composition>

</h:body>

</html>