<div class="container">

  <div class="center">
    <h3 class="title">Detalhar Depósito Judiciário</h3>
  </div>

  <div class="jumbotron">

    <fieldset class="fildset">

      <legend class="fildset_legend">Depósitos Judiciais</legend>

      <div class="tabela">
        <table mat-table [dataSource]="depJudiciarioDataSource">

          <!--Radio Column-->
          <ng-container matColumnDef="radio">
            <th mat-header-cell *matHeaderCellDef style="width: 0.1%;"></th>
            <td mat-cell *matCellDef="let element" style="width: 0.1%;">
              <label class="container">
                <input type="radio" (click)="onSelectionChange(element)" name="radio">
                <span class="checkmark"></span>
              </label>
            </td>
          </ng-container>

          <!-- Data Column -->
          <ng-container matColumnDef="dataDeposito">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dataDeposito | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- Nº pagamento SAP Column -->
          <ng-container matColumnDef="documentoSap">
            <th mat-header-cell *matHeaderCellDef> N° Pagamento SAP </th>
            <td mat-cell *matCellDef="let element"> {{element.documentoSap}} </td>
          </ng-container>

          <!-- Tipo Column -->
          <ng-container matColumnDef="tipoDepositoJudicialEnum">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDepositoJudicialEnum}} </td>
          </ng-container>

          <!-- Valor Column -->
          <ng-container matColumnDef="valorDeposito">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.valorDeposito | currency: 'R$ '}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

      <br>

      <div style="float: right">
        <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
          <i class="material-icons right">keyboard_return</i>
        </button>

        <button class="btn btn-right" type="submit" name="action" data-toggle="modal"
        [disabled]="!selecionado"  data-target="#detalheDepositoJud">Consultar
          <i class="material-icons right">search</i>
        </button>

      </div>

    </fieldset>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="detalheDepositoJud" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Depósito Judicial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin-bottom: -15px;">

        <div class="jumbotron">

          <form class="col s12" [formGroup]="detalheForm">
            <fieldset class="fildset" style="margin-bottom: -25px; margin-top: -25px;">

              <div class="row">
                <div class="input-field col s6">
                  <label class="labelModal" for="processo">Processo</label>
                  <input id="processo" formControlName="processo" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="documentoSap"> N° Doc SAP Pagto</label>
                  <input id="documentoSap" formControlName="documentoSap" type="text" disabled>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <label class="labelModal" *ngIf="consultaDOC()" for="transacaoBancaria">Número Adiantamento (GEF)</label>
                  <label class="labelModal" *ngIf="!consultaDOC()" for="transacaoBancaria">Conta Bancária</label>
                  <input id="transacaoBancaria" formControlName="transacaoBancaria" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="dataDeposito">Data do Depósito</label>
                  <input id="dataDeposito" formControlName="dataDeposito" type="date" disabled>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <label class="labelModal" for="tipoDepositoJudicialEnum">Tipo do Depósito</label>
                  <input id="tipoDepositoJudicialEnum" formControlName="tipoDepositoJudicialEnum" type="text" disabled>
                </div>
                <div class="input-field col s6">
                  <label class="labelModal" for="usuario">Matrícula Responsável</label>
                  <input id="usuario" formControlName="usuario" type="text" disabled>
                </div>
              </div>

              <fieldset class="fildset">

                <legend class="fildset_legend">Valores</legend>

                <div class="row" style="margin-bottom: -10px;">
                  <div class="input-field col s6">
                    <h6 class="labelModal2" for="valorDeposito">Depósito</h6>
                    <input id="valorDeposito" type="text" formControlName="valorDeposito" disabled currencyMask
                      [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </div>
                  <div class="input-field col s6">
                    <h6 class="labelModal2" for="provisionado">Provisionado</h6>
                    <input id="provisionado" type="text" disabled currencyMask [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </div>
                </div>

                <div class="row" style="margin-bottom: -10px;">
                  <div class="input-field col s6">
                    <h6 class="labelModal2" for="valorLitigante">Liberado Litigante</h6>
                    <input id="valorLitigante" formControlName="valorLitigante" type="text" disabled currencyMask
                      [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </div>
                  <div class="input-field col s6">
                    <h6 class="labelModal2" for="valorChesf">Liberado para Chesf</h6>
                    <input id="valorChesf" formControlName="valorChesf" type="text" disabled currencyMask [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </div>
                </div>
              </fieldset>

              <div style="float: right;">
                <button class="btn btn-left" type="submit" data-dismiss="modal" aria-label="Close" name="action">Sair
                  <i class="material-icons right">keyboard_return</i>
                </button>
              </div>

            </fieldset>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>
