<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:util="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/templatePrincipal.xhtml">
		<ui:define name="corpo">
			<h:form id="formCadastro" prependId="false">
				<c:set var="isCadastro" value="true" scope="view"/>
				<p:panel header="Cadastro de cidade" id="panelCadastro">
					<h:panelGrid id="gridCidade" columns="3">
						<h:outputLabel for="id" value="Código: " id="labelId"/>
						<p:inputText id="id" styleClass="estiloIdCadastro" disabled="true"
						  value="#{cidadeBeanView.objetoSelecionado.cid_codigo}"/>
						<h:outputLabel/>
						
						
						<h:outputLabel id="labelNomeConsultaCidade" for="cidadeNome" value="Nome * :"/>
						<p:inputText id="cidadeNome" styleClass="estyleInputNome" 
						  required="true" maxlength="100" 
						  value="#{cidadeBeanView.objetoSelecionado.cid_descricao}"
						  requiredMessage="Informe o nome da cidade"/>
						<p:message for="cidadeNome"/>


						<h:outputLabel for="estado" id="labelEstado" value="Estado * :"/>
						<p:selectOneMenu id="estado" required="true" style="width:200px;"
						     requiredMessage="Informe o estado." 
						     value="#{cidadeBeanView.objetoSelecionado.estado}">
							 <f:selectItems value="#{estadoBeanView.estados}"/>
						</p:selectOneMenu>
						<p:message for="estado"/>
	 
					</h:panelGrid>
				</p:panel> 
				
				<div class="espacoBranco" />
				
				<util:botoesCrud managedBeanView="#{cidadeBeanView}"
					 camposReload=":formTemplate:msg, tableResult" 
					 botaoNovo="#{contextoBean.possuiAcesso('CIDADE_NOVO', 'ADMIN')}"
					 botaoSalvar="#{contextoBean.possuiAcesso('CIDADE_NOVO', 'ADMIN') and cidadeBeanView.objetoSelecionado.cid_codigo == null}"
					 botaoAtualizar ="#{contextoBean.possuiAcesso('ACESSO_EDITAR', 'ADMIN') and cidadeBeanView.objetoSelecionado.cid_codigo != null}"
					 >
				
				</util:botoesCrud>
			
			</h:form>	
			
			<script type="text/javascript" charset="UTF-8">
			    addFocoCampo("cidadeNome");
				gerenciaTeclaEnter();
			</script>
			
			
			<div class="espacoBranco" />
			
			<p:dataTable id="tableResult" value="#{cidadeBeanView.list}" var="objeto"
				emptyMessage="Não existem valores para exibição."
				rendered="#{cidadeBeanView.list.size() > 0}"
				rows="5"
				paginator="true" 
				paginatorPosition="bottom"
				paginatorTemplate=" {FirstPageLink}
									{PreviousPageLink} {PageLinks}
									{NextPageLink} {LastPageLink} 
									{RowsPerPageDropdown} ">
									
			  <ui:include src="/resources/components/colunasDataTableCidade.xhtml"/>
			
			</p:dataTable>
				
		</ui:define>
	</ui:composition>
</html>