<div class="container">

  <div class="center">
    <h3 class="title">Confirmar Adiantamento</h3>
  </div>

  <div class="jumbotron">

    <form [formGroup]="confirmarAdiantamentoForm">

      <div class="row" style="margin-bottom: -20px">
        <div class="input-field col s4">
          <label for="matricula">Matrícula</label>
          <input id="matricula" type="text" maxlength="8" formControlName="matriculaSap" (keyup)="applyFilter()" required>
        </div>

        <div class="input-field col s4" style="margin-top: 1%;">
          <ng-select formControlName="situacaoSelect"  placeholder="Situação" [(items)]="situacao"  bindLabel="tipoSituacao"
            (change)="applyFilter()">
          </ng-select>
        </div>
      </div>

      <fieldset class="fildset">

        <br>

        <div class="table">
          <div class="row margem">
            <div class="col">N° Doc Sap</div>
            <div class="col">Matrícula</div>
            <div class="col">Valor</div>
            <div class="col">Situação</div>
          </div>

          <div class="containerTable">
            <mat-accordion *ngFor="let item of displayedRows$ | async">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 75px;">
                  <mat-panel-description>
                    <div class="col">{{item.docSAP}}</div>
                    <div class="col">{{item.matriculaSap}}</div>
                    <div class="col">{{item.valorAdiantamento | currency :'R$ '}}</div>
                    <div class="col">{{item.statusAdiantamento.desc}}</div>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <fieldset class="fildset">

                  <div class="row" style="margin-top: -5px;">
                    <div class="input-field col s6">
                      <h6 class="labelEdit" for="motivoSolicitacao"> Motivo </h6>
                      <textarea class="textAreaEdit" id="motivoSolicitacao" type="text" maxlength="50" disabled>{{item.motivoDespesa}}</textarea>
                    </div>

                    <div class="input-field col s6" *ngIf="item.numProcesso !== null && item.numProcesso !== undefined">
                      <h6 class="labelEdit" for="numeroProcesso"> N° do Processo </h6>
                      <textarea class="textAreaEdit" id="numeroProcesso" type="text" maxlength="50" disabled>{{item.numProcesso}}</textarea>
                    </div>
                  </div>

                  <div class="row" style="margin-top: -20px; margin-bottom: -20px;">
                    <div class="input-field col s4">
                      <h6 class="labelEdit" for="dataSolicitacao"> Data da Solicitação </h6>
                      <input style="width: 30%" id="dataSolicitacao" type="date" [value]="item.dataSolicitacao"
                        disabled>
                    </div>

                    <div style="float: right; margin-top: 37px;">
                      <button class="btn btn-right" type="submit" name="action" (click)="consultarAdiantamentoId(item)">Consultar
                        <i class="material-icons right">search</i>
                      </button>
                    </div>
                  </div>

                </fieldset>

              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <mat-paginator #paginator [length]="totalRows$ | async" [pageSizeOptions]="[5, 10, 20]"  [pageIndex]="0" [pageSize]="5" showFirstLastButtons></mat-paginator>

        </div>

        <div style="float: right">
          <button class="btn btn-left" type="submit" (click)="voltar()" name="action">Sair
            <i class="material-icons right">keyboard_return</i>
          </button>
        </div>

      </fieldset>

    </form>

  </div>

</div>
