.title {
  color: #0078b0;
}

.fildset {
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #bac2c5;
  margin-bottom: 10px;
  background-color: white;
}


.active {
  color: #26a69a;
}

.jumbotron {
  padding: 1rem 2rem;
}

.margem {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 5%;
  text-align: center;
}

.table {
  border-radius: 10px;
  background-color: #0078b0;
  padding: 1%;
}

.containerTable {
  max-height: 400px;
  overflow: auto;
}


.labelEdit {
  margin-top: -2px;
  margin-bottom: 2px;
  font-size: 13px;
  color: #26a69a;
}

.textAreaEdit {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 10px;
  border-bottom: 1.5px solid #26a69a;
}

.labelStyle {
  color: #0078b0;
}

.title1 {
  margin-left: -45px;
  font-size: 15px;
  color: #aad2e5;
}

.title2 {
  color: #0078b0;
  word-wrap: break-word;
  max-width: 15%;
  align-self: center;
}

.mat-expansion-panel {
  background: #e9ecef;
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.fildset_legend {
  width: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #0078b0;
  border: 1px solid #bac2c5;
}

.selectType {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #9e9e9e;
  width: 100%;
  height: 100%;
  color: #9e9e9e;
  box-shadow: none;
}

.btn-right {
  background-color: #0078b0;
  border: 1px solid #0078b0;
  border-radius: 20px;
}

.btn-right:hover {
  color: #0078b0;
  background-color: #fff;
  border: 1px solid #0078b0;
  font-weight: bold;
  border-radius: 20px;
}

.btn-left {
  color: #fff;
  background-color: #c82333;
  border: 1px solid #bd2130;
  border-radius: 20px;
  margin-right: 10px;
}

.btn-left:hover {
  color: #bd2130;
  background-color: #fff;
  border: 1px solid #bd2130;
  font-weight: bold;
  border-radius: 20px;
}
